@import 'shared/styles/colors.scss';

.root {
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.25s;
    $color: $independence;
    cursor: pointer;
}

@mixin buttonVariant($color) {
    background-color: $color;
    &:hover {
        transition: background-color 0.25s;
        background-color: darken($color, 20%);
    }

    &:active {
        background-color: darken($color, 40%);
    }
}  

.backgroundMagicMint {
    @include buttonVariant($magicMint);
}

.backgroundEnglishViolet {
    @include buttonVariant($englishViolet);
}

.backgroundIndependence {
    @include buttonVariant($independence);
    color: $mauve;
}

.backgroundOrangeYellow {
    @include buttonVariant($orangeYellow);
}

.backgroundMauve {
    @include buttonVariant($mauve);
}