@import 'shared/styles/breakpoints.scss';
@import 'shared/styles/colors.scss';

.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    font-size: 3.6rem;
    padding-bottom: 5rem;
    color: $independence;
    font-weight: 600;
    user-select: none;

    @media screen and (max-width: $mediumScreen) {
        font-size: 2.4rem;
    }
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    flex-wrap: wrap;
    
    @media screen and (max-width: $mediumScreen) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

.input {
    padding: 0.7rem;
    width: 100%;
    margin-bottom: 1rem;
    border: solid 0.2rem $mauve;
    border-radius: 0.5rem;
    font-size: 1rem;
}